@charset "utf-8";

.nav-icon-11 {
    width: 35px;
    height: 30px;
    position: relative;
}

.nav-icon-11 span {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 2px;
}

.nav-icon-11 span:nth-child(1) {
    top: 0;
    left: 0;
}

.nav-icon-11 span:nth-child(2) {
    top: 13px;
    left: 0;
}

.nav-icon-11 span:nth-child(3) {
    top: 26px;
    left: 0;
}

.nav-icon-11 span:nth-child(4) {
    top: 13px;
    left: 0;
}

.nav-icon-11.open span {
    background-color: transparent;
    border: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    top: 0;
    left: 0;
}

.nav-icon-11.open span:nth-child(1) {
    width: 30px;
    height: 30px;
    border: 4px solid transparent;
    border-left: 4px solid white;
    transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4) 0.05s;
}

.nav-icon-11.open span:nth-child(2) {
    width: 30px;
    height: 30px;
    border: 4px solid transparent;
    border-top: 4px solid white;
    transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4) 0.1s;
}

.nav-icon-11.open span:nth-child(3) {
    width: 30px;
    height: 30px;
    border: 4px solid transparent;
    border-right: 4px solid white;
    transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4) 0.15s;
}

.nav-icon-11.open span:nth-child(4) {
    width: 30px;
    height: 30px;
    border: 4px solid transparent;
    border-bottom: 4px solid white;
    transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4) 0.2s;
}
