@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
}

header {
    height: 120px;
}

#logo {
    width: 20%;
    height: 120px;
    float: left;
}

#logoImg {
    margin: 34px;
}

#search {
    width: 45%;
    height: 120px;
    float: left;
}

#searchBox {
    position: relative;
    height: 60px;
    border: 5px solid #003964;
    background-color: white;
    margin: 25px 0;
}

#searchInput {
    position: absolute;
    height: 45px;
    width: 80%;
    margin: 7.5px 15px;
    font-size: 120%;
    border: none;
}

#searchImg {
    position: absolute;
    right: 15px;
    top: 11.5px;
}

#sub {
    width: 35%;
    height: 120px;
    float: left;
}

#hamburger {
    clear: left;
}

#sub > span {
    display: block;
    float: right;
    height: 30px;
    margin: 45px 20px;
}

main {
    height: 780px;
    background-color: aquamarine;