@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

div {
    margin: 30px;
}

#box1 {
    width: 100px;
    height: 100px;
    background-color: orange;

    transition-property: all;
    transition-duration: 2s;
}

#box1:hover {
    width: 200px;
    height: 50px;
    background-color: blue;
}

#box2 {
    width: 100px;
    height: 100px;
    background-color: orange;

    transition-property: width, height;
    transition-duration: 5s, 1s;
}

#box2:hover {
    width: 200px;
    height: 50px;
    background-color: blue;
}

#box3 {
    width: 100px;
    height: 100px;
    background-color: orange;

    transition: all 3s ease-in;
}

#box3:hover {
    width: 200px;
    height: 200px;
    background-color: orangered;
    transform: rotate(270deg);
}

section > div {
    width: 100px;
    height: 50px;
    float: left;
    background-color: blue;
    color: white;
    text-align: center;
    line-height: 50px;

    transition-property: height;
    transition-duration: 3s;
}

section > div :hover {
    height: 400px;
}

#ease {
    transition-timing-function: ease;
}

#ease-in {
    transition-timing-function: ease-in;
}

#ease-out {
    transition-timing-function: ease-out;
}

#ease-in-out {
    transition-timing-function: ease-in-out;
}

#linear {
    transition-timing-function: linear;
}

#cubic-bezier1 {
    transition-timing-function: cubic-bezier(0.6, 0.97, 0.75, 0.11);
}

#cubic-bezier2 {
    transition-timing-function: cubic-bezier(0, 1.79, 1, -0.8);
}

#cubic-bezier3 {
    transition-timing-function: cubic-bezier();
}
