@charset "utf-8";

main {
    width: 100%;
    padding-bottom: 38px;
}

#main1 {
    width: 100%;
    height: 938px;
    background-color: orange; /*del*/
}

#mainimg {
    position: relative;
    background-image: url(../static/img/main.jpg);
    width: 100%;
    height: 535px;
    cursor: pointer;
}

#mainimg #slideprev,
#mainimg #slidenext {
    text-shadow: 1px 2px #333;
    display: block;
    position: absolute;
    font-size: 80px;
    cursor: pointer;
    color: white;
}

#mainimg #slideprev {
    right: 1660px;
    top: 225px;
}

#mainimg #slidenext {
    left: 1720px;
    top: 240px;
}

#mainimg #slidecircles {
    display: flex;
    justify-content: center;
    padding-top: 380px;
}

#slidecircles .slidecircle:nth-child(1) {
    margin: 3px;
    width: 12px;
    height: 12px;
    border: 1px solid #2361aa;
    border-radius: 50%;
}

#slidecircles .slidecircle:nth-child(2),
#slidecircles .slidecircle:nth-child(3),
#slidecircles .slidecircle:nth-child(4),
#slidecircles .slidecircle:nth-child(5) {
    margin: 3px;
    width: 13px;
    height: 13px;
    background-color: #2361aa;
    border-radius: 50%;
}

#maininner {
    position: relative;
    width: 1200px;
    height: 316px;
    margin: 0 auto;
    margin-top: -124px;
    z-index: 1;
}

#maininner #maininnerimg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 30px;
    width: 100%;
    height: 108px;
    background-image: url(../static/img/maininner.jpg);
}
#maininner #maininnerimg #commentlist {
    display: flex;
    align-items: center;
}

#maininnerimg #commentlist .comment {
    line-height: center;
}

#maininnerimg #commentlist .comment:nth-child(1) {
    font-size: 22px;
    letter-spacing: -1px;
    font-weight: bold;
    color: #fef4a0;
    padding-right: 16px;
}

#maininnerimg #commentlist .comment:nth-child(2) {
    font-size: 16px;
    letter-spacing: -1px;
    color: #fff;
    font-weight: normal;
}

#maininnerimg #maininnersrchwarp {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 479px;
    height: 43px;
    background-color: #ececf1;
    border-radius: 40px;
}

#maininnerimg #mainsrch {
    position: absolute;
    width: 375px;
    height: 19px;
    background-color: #ececf1;
    left: 20px;
    border: 0 none;
    outline: none;
    font-size: 17px;
}

#maininnerimg #maininnersrchwarp a {
    position: absolute;
    right: 20px;
    align-items: center;
    font-size: 25px;
    color: #2361aa;
}

#maininner #reserv ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 1200px;
}

#reserv li:nth-child(1) {
    background-color: #0b50a1;
    background-image: url(../static/img/menulisticon1.png);
    background-repeat: no-repeat;
    background-position: -37px 120px;
}

#reserv li:nth-child(2) {
    background-color: #11a0d8;
    background-image: url(../static/img/menulisticon2.png);
    background-repeat: no-repeat;
    background-position: -20px 120px;
}

#reserv li:nth-child(3) {
    background-color: #a5c564;
    background-image: url(../static/img/menulisticon3.png);
    background-repeat: no-repeat;
    background-position: -7px 116px;
}

#reserv li:nth-child(4) {
    background-color: #ef9e19;
    background-image: url(../static/img/menulisticon4.png);
    background-repeat: no-repeat;
    background-position: -15px 120px;
}

#reserv li:nth-child(5) {
    background-color: #8283db;
    background-image: url(../static/img/menulisticon5.png);
    background-repeat: no-repeat;
    background-position: -18px 118px;
}

#reserv li {
    display: flex;
    width: 240px;
    height: 208px;
    flex-direction: column;
    align-items: center;
}

#reserv ul .reservlisttitle {
    padding: 25px 0 16px 0;
    font-size: 20px;
    color: #fff;
}

#reserv ul .reservlist:nth-child(3) .reservlisttitle {
    padding: 25px 0 5px 0;
    font-size: 20px;
    color: #fff;
}

#reserv ul .reservyellowbox {
    width: 139px;
    height: 22px;
    font-size: 12px;
    text-align: center;
    line-height: 22px;
    letter-spacing: -1px;
    margin: 6px auto 0 auto;
    border-radius: 13px;
    background-color: #f9e03d;
    color: #87b528;
}

#reserv ul .reservyellowbox2 {
    position: relative;
    display: block;
    top: -18px;
    left: 114px;
}

#reserv ul .reservlistcommnet {
    font-size: 13px;
    text-align: center;
    line-height: 18px;
    color: #fff;
}

#reserv ul .reservinput .reservnumber1 {
    margin-top: 20px;
    width: 135px;
    height: 28px;
    border: 1px solid;
    outline: none;
    text-align: center;
    font-size: 15px;
    background-color: #e3e3e4;
}

#reserv ul .reservinput .reservnumber2 {
    margin-top: 4px;
    width: 135px;
    height: 28px;
    border: 1px solid;
    outline: none;
    text-align: center;
    font-size: 15px;
    background-color: #e3e3e4;
}

#reserv ul .reservbtton {
    width: 137px;
    height: 24px;
    padding-top: 5px;
    margin-top: 4px;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
}

#reserv ul .reservlist:hover {
    width: 230px;
    height: 198px;
    border: 5px solid #f9e03d;
    .reservlisttitle {
        color: #f9e03d;
        font-size: 22px;
    }
    .reservbtton {
        color: #f9e03d;
        border: 1px solid #f9e03d;
    }
}

#reserv ul .reservlist:nth-child(1) .reservbtton,
#reserv ul .reservlist:nth-child(4) .reservbtton,
#reserv ul .reservlist:nth-child(5) .reservbtton {
    width: 118px;
    height: 29px;
    line-height: 19px;
    margin-top: 47px;
    padding-top: 9px;
    font-size: 15px;
}

#selectmenu {
    width: 1200px;
    height: 169px;
    margin: 0 auto;
    margin-top: 40px;
    border: 1px solid #dfe1e5;
    cursor: pointer;
    background-color: darksalmon;
}

#selectmenu ul {
    position: absolute;
    display: flex;
    height: 169px;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}

#selectmenu ul li {
    border: 1px solid #dfe1e5;
}

#selectmenu2 {
    display: inline-block;
    height: 100%;
    background-image: url(../static/img/menu2list.png);
    background-repeat: no-repeat;
}

#selectmenu ul .menu2list {
    position: relative;
    top: 120px;
    font-size: 15px;
    width: 170px;
    height: 27px;
    text-align: center;
    font-size: 18px;
    letter-spacing: -1px;
}

#selectmenu ul li:nth-child(2),
#selectmenu ul li:nth-child(3),
#selectmenu ul li:nth-child(4),
#selectmenu ul li:nth-child(5) {
    border-right: 1px solid #dfe1e5;
}

#selectmenu ul .menu2list:nth-last-child() {
    border: none;
}

#containerclean {
    width: 100%;
    height: 40px;
    background-color: #fff;
}
