@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --count: 16;
    --radius: 40;
    --bigRadius: 200;
}

body {
    background-color: black;
}

#wrap {
    width: calc(var(--bigRadius) * 2px);
    height: calc(var(--bigRadius) * 2px);
    margin: 50px auto;
    position: relative;
}

.box {
    width: calc(var(--radius) * 2px);
    height: calc(var(--radius) * 2px);
    border: 3px solid white;
    border-radius: 50%;
    position: absolute;
    transform-origin: calc(var(--radius) * 1px) calc(var(--bigRadius) * 1px);
    transform: rotate(calc(360 / var(--count) * var(--p) * 1deg));

    top: 0px;

    left: calc((var(--bigRadius) - var(--radius)) * 1px);
    /*
    top:
    left:

    transform-orign:
    transform: rotate:

    animation:
    */
}

.box :nth-child(1) {
}

.box :nth-child(2) {
}

.box :nth-child(3) {
}

.box :nth-child(4) {
}

.box :nth-child(5) {
}

.box :nth-child(6) {
}

.box :nth-child(7) {
}

.box :nth-child(8) {
}

.box :nth-child(9) {
}

.box :nth-child(10) {
}

.box :nth-child(11) {
}

.box :nth-child(12) {
}

.box :nth-child(13) {
}

.box :nth-child(14) {
}

.box :nth-child(15) {
}

.box :nth-child(16) {
}

@keyframes circle {
    /* 너비, 높이, 투명도, 테두리색 */
    from {
        width: 0;
        height: 0;
        opacity: 1;
        border-color: yellow;
    }
    60% {
        border-color: limegreen;
    }
    80% {
        border-color: cornflowerblue;
    }
    90% {
        border-color: palevioletred;
    }
    to {
        width: calc(var(--radius) * 3px);
        height: calc(var(--radius) * 3px);
        opacity: 0;
        border-color: black;
    }
}
