@charset "utf-8";
* {
    margin: 0 outo;
    padding: 0;
}
ul {
    list-style-type: none;
}
#all {
    width: 1600px;
    margin: 0 auto;
}

#firsth {
    height: 37.594px;
    padding: 10px;
    border-bottom: 1px solid black;
}
#logo1 {
    margin-top: 10px;
    float: left;
}
#headNv {
    margin-top: 10px;
    padding-left: 10px;
    float: left;
    font-size: small;
}
.topMenu {
    margin-top: 10px;
    padding-left: 40px;
    float: left;

    font-size: small;
}
#topRightImg {
    margin-top: 5px;
    padding-right: 5px;
    float: right;
}
#topRightImg2 {
    margin-top: 5px;
    padding-right: 5px;
    float: right;
}

#section1 {
    height: 489.547px;
    margin-bottom: 40px;
}
#secondh {
    height: 80.797px;
    padding-left: 10px;
    padding-right: 10px;
}
#logo4 {
    margin-top: 20px;
    float: left;
}
#list1Padding {
    padding-left: 70px;
}
.list1 {
    margin-top: 30px;
    padding-left: 50px;
    float: left;

    font-size: large;
    font-weight: bold;
}
#searchBox {
    margin-top: 30px;
    float: left;
    padding-left: 60px;
    padding-right: 20px;
}
#headerRight {
    background-color: beige;
    margin-top: 25px;
    margin-right: 10px;
    padding: 6px;
    float: right;
}
#menuIcon {
    margin-top: 25px;
    padding: 5px;
    float: right;
}
#section1Img {
    float: left;
    height: 489.547px;
    margin: 0;
}
#allTable {
    background-color: #d9d9d9;
    width: 34%;
    height: 489.547px;
    float: right;
}
th,
td {
    text-align: center;
    border: 10px solid black;
    padding: 40px;
}
#tableBody {
    margin: 50px;
}
#table {
    align-items: center;
    height: 200px;
}
.tableBox {
    text-align: center;
    background-color: lightpink;
    margin: px;
}

#section2 {
    height: 412px;
}
.list2 {
    display: block;
    text-align: center;
    background-color: #d9d9d9;
    height: 50px;
    width: 80%;
    margin: 50%;
    padding: 20px;
}

#ul1 {
    float: left;
}
