@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

#wrap1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

div > div:nth-child(odd) {
    background-color: aquamarine;
}

div > div:nth-child(even) {
    background-color: greenyellow;
}
#wrap2 {
    display: gird;
    grid-template-columns: 100px 200px 10px;
    grid-template-rows: 50px 30px;
}

#wrap3 {
    display: flex;
}

#wrap4 {
    display: flex;
    justify-content: space-between;
}
