@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

:root {
    --background: black;
    --background2: white;
}

body {
    background-color: var(--background);
}

#wrap {
    width: 282px;
    height: 80px;
    margin: 200px auto;

    display: flex;
    align-items: center;
}

.bar {
    width: 12px;
    height: 80px;
    float: left;
    margin-right: 18px;
    border-radius: 6px;
    background-color: var(--background2);
    animation: wave 0.75s ease-in-out infinite alternate;
}

#wrap .bar:last-child {
    margin-right: 0;
}

#wrap .bar:nth-child(1),
#wrap .bar:nth-child(10) {
    background-color: purple;
    animation-delay: 1s;
}

#wrap .bar:nth-child(2),
#wrap .bar:nth-child(9) {
    background-color: crimson;
    animation-delay: 0.8s;
}

#wrap .bar:nth-child(3),
#wrap .bar:nth-child(8) {
    background-color: deeppink;
    animation-delay: 0.6s;
}

#wrap .bar:nth-child(4),
#wrap .bar:nth-child(7) {
    background-color: orange;
    animation-delay: 0.4s;
}

#wrap .bar:nth-child(5),
#wrap .bar:nth-child(6) {
    background-color: gold;
    animation-delay: 0.2s;
}

@keyframes wave {
    from {
        height: 80px;
    }
    to {
        height: 2px;
    }
}
