@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

div > div {
    width: 50px;
    height: 50px;
}

div > div:nth-child(3n + 1) {
    background-color: darkred;
}

div > div:nth-child(3n + 2) {
    background-color: darkgreen;
}

div > div:nth-child(3n) {
    background-color: darkblue;
}

#wrap1,
#wrap2,
#wrap3,
#wrap4 {
    display: flex;
    width: 90%;
    height: 200px;
    margin: 0 auto;
    background-color: aquamarine;
}

#wrap2 {
    flex-direction: row-reverse;
}

#wrap3 {
    flex-direction: column;
}

#wrap4 {
    flex-direction: column-reverse;
}

#wrap5,
#wrap6,
#wrap7,
#wrap8 {
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
    width: 290px;
    height: 100px;
}

#wrap6 {
    flex-wrap: wrap;
}

#wrap7 {
    flex-wrap: wrap-reverse;
}

#wrap8 {
    flex-flow: column wrap-reverse;
}
