@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

div {
    width: 50px;
    height: 50px;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

#gridwrap {
    display: grid;
    background-color: black;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
    grid-column-gap: 100px;
    grid-row-gap: 75px;
    width: 350px;
    margin-bottom: 50px;
}

#flexwrap {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    width: 350px;
    margin-bottom: 50px;
}

#flexwrap div {
    margin: 0 100px 75px 0;
}

#flexwrap > div:nth-child(3n) {
    margin-right: 0;
}

#flexwrap > div:nth-child(7),
#flexwrap > div:nth-child(8),
#flexwrap > div:nth-child(9) {
    margin-bottom: 0;
}

#flexwrap2 {
    width: 350px;
    height: 300px;
    display: flex;
    background-color: black;
    flex-direction: column;
    justify-content: space-between;
}

#flexwrap2 > section {
    display: flex;
    justify-content: space-between;
}
