* {
    margin: 0;
    padding: 0;
}

:root {
    --title-color: #333;
    --text-color: #555;
    --button-color: #DDD;
    --button-border-color: #222;
    --bg-color: #EEE;
}

.dark-theme {
    --title-color: #DDD;
    --text-color: #CCC;
    --button-color: #333;
    --button-border-color: #EEE;
    --bg-color: #222;
}

.black-theme {
    --title-color: #EEE;
    --text-color: #DDD;
    --button-color: #222;
    --button-border-color: #FFF;
    --bg-color: #111;
}


body {
    background-color: var(--bg-color);
}

#wrap {
    width: 300px;
    margin: 30px auto;
}

.themeWrap {
    margin-bottom: 30px;
}

.themeWrap p:first-child {
    font-weight: bold;
    font-size: 1.2em;
    color: var(--title-color);
}

.themeWrap p label {
    color: var(--text-color);
}

#themeBtn {
    font-size: 1.1em;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid var(--button-border-color);
    color: var(--text-color);
    background-color: var(--button-color);
}

.textWrap h1 {
    color: var(--title-color);
}

.textWrap p {
    color: var(--text-color);
}